<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Signup</title>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div class="container mt-2">
      <form method="post" action="/user/signup" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="fullName" class="form-label">Fullname </label>
          <input
            type="text"
            id="fullName"
            name="fullName"
            placeholder="iamuser"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="text"
            id="email"
            name="email"
            class="form-control"
            placeholder="example@user.com"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">
            email must end with @user.com
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="User1*1abc"
            class="form-control"
          />
          <div id="passwordHelp" class="form-text">
            Password must have minimum lenght of 8
          </div>
        </div>
        <div class="mb-3">
          <label for="uploadImage" class="form-label">Fullname </label>
          <input
            type="file"
            id="uploadImage"
            name="profileImageURL"
            class="form-control"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <%- include("./partials/script") %>
  </body>
</html>
